@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Portal de Anuncios, donde cada profesional puede anunciarse y ofrecer sus servicios dentro de su misma ciudad.</p>
