@{
    ViewBag.Title = "Mis Anuncios";
}

<div class="jumbotron">
    <h1>Portal Mis Anuncios</h1>
    <p class="lead">Portal diseñado para autónomos en el que podrás anunciarte como profesional en tu ciudad.</p>        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Muestra tus habilidades</h2>
        <p>
            Como autónomo que eres, aquí puedes mostrar todo aquello a lo que te dedicas.
            Ofrece tus servicios como profesional en tu ciudad.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Ponte en contacto</h2>
        <p>Al ofrecer tus servicios de autónomo, se podrán poner en contacto contigo a traves del anuncio.
            Tenemos una amplia red de profesionales y de clientes.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Consigue visibilidad</h2>
        <p>Mostrar tu anuncio te permitirá generar visibilidad a tu negocio a través de internet lo que permite crecer dentro de tu profesión.</p>        
    </div>
</div>